.char-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.2rem;
  border-bottom: 1px solid #ddd;
  transition: all ease-in-out 0.2s;

  .char-block {
    display: flex;
    align-items: center;
    flex: 9;
  }

  &:hover {
    background-color: #fff;

    & .hidden-btns {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .char-name-wrapper {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    flex: 1;

    span {
      font-size: 1rem;
      text-transform: capitalize;
    }

    .list-icon {
      display: inline-flex;
      margin-right: 1rem;
      height: 30px;
      width: 30px;
      transform: translateY(3px);
    }
  }

  .hidden-btns {
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 0.2s;
  }
}

.enum-values {
  margin-top: 0.5rem;
  flex: 1;

  li {
    text-transform: capitalize;
    line-height: 1.2rem;
    font-style: italic;
  }
}

.default-values {
  flex: 1;
  padding: 0.3rem 0.6rem;
  font-style: italic;
}

.range-values {
  flex: 1;

  p {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;

    span {
      font-style: italic;
      padding: 0.3rem 0.6rem;
      margin-left: 0.3rem;

      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}

.char-wrapper-dark {
  @extend .char-wrapper;
  color: #fff;

  &:hover {
    color: #333;

    .range-values p span {
      color: #333;
    }
  }

  .hidden-btns {
    button:first-of-type {
      svg {
        color: #333;
      }
    }
  }

  &:hover {
    background-color: #ccc;
  }

  .range-values p span {
    color: #fff;
  }
}
