.edit_quantity {
    display: flex;
    align-items: center;
    width: 70%;

    input {
        width: 100%;
    }
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;width: 40%;
}

.titleOrder {
    p {
        margin-bottom: 0;
        font-size: 16px;
    }
}