.block-wrapper-main {
  padding: 1rem;
  padding-bottom: 3rem;
  padding-top: 84px;
  margin-top: -54px;
}

h1 {
  margin-top: 1.5rem;
}

.expandable-field-wrapper {
  display: flex;
  justify-content: space-between;
}

h4 {
  margin: 0;
}

.add-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 1rem 1.5rem 0;
}

.form-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  button:first-child {
    margin-right: 4rem;
  }
}

.asterisk-icon-required {
  display: flex;
  align-items: center;

  span {
    &:first-child {
      margin-right: 0.5rem;
      width: 12px;
      height: 12px;

      svg {
        transform: translateY(-6px);
        fill: red;
      }
    }

    &:last-child {
      font-size: 0.8rem;
    }
  }
}
