/* colors */
$primary-color: #26bd62;
$accent-light-color: #ffffff;
$font-color: #4e5a5e;
$blue-button: #4096e3;
$gray-button: #6c757d;

/* exports */
:export {
  primaryColor: $primary-color;
  accentLightColor: $accent-light-color;
  fontColor: $font-color;
  blueButton: $blue-button;
  grayButton: $gray-button;
}
