.home_div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  vertical-align: middle;
  z-index: 50;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

}

.form {
  &__login {
    background: #424D52;
    border-radius: 60px;
    color: #fff;
    border: none;
    width: 270px;
    height: 44px;
    margin-bottom: 15px;
  }

  &__social {
    border-radius: 60px;
    height: 44px;
    width: 125px;
    margin-left: 16px;
  }

  input {
    width: 270px;
    height: 44px;
    border: 1px solid #e2e6e7;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 11px;
    outline: none;
  }

  input::placeholder {
    opacity: .3;
    margin-left: 5px;
  }

  input[type=email] {
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 15px 40px;
  }

  input[type=tel] {
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 15px 40px;
  }

  input[type=password] {
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 15px 40px;
  }
}

