
.inputSelect {
  width: 270px;
  height: 50px;
  border: 1px solid #e2e6e7;
  box-sizing: border-box;
  border-radius: 60px;
  outline: none;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 15px 40px;
}


.form {

  &__register {
    background: #26bd62;
    border-radius: 60px;
    color: #fff;
    border: none;
    width: 270px;
    height: 44px;
    transition: opacity 0.3s ease;
    margin-bottom: 15px;
  }

  &__register:hover {
    background: #26bd62;
    opacity: 0.7;
  }


  input {
    width: 270px;
    height: 44px;
    border: 1px solid #e2e6e7;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 11px;
    outline: none;
  }

  input::placeholder {
    opacity: .3;
    margin-left: 5px;
  }

  input[type=email] {

    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 15px 40px;
  }

  input[type=tel] {

    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 15px 40px;
  }

  input[type=password] {

    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 15px 40px;
  }
}
