.modal-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 550px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      align-self: center;
      margin-top: 2rem;
    }
  }
}

.list-icon {
  margin-right: 1rem;
  height: 30px;
  width: 30px;
}
