.itemCard {
  padding: 1rem;
  height: max-content;
  min-height: 100vh;

  h1 {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .right-btn-wrapper {
      display: flex;
      justify-content: flex-end;

      button:first-child {
        margin-right: 1rem;
      }
    }
  }

  .breadcrumbs {
    font-size: 1rem;
    color: rgb(71, 57, 165);

    svg {
      transform: rotate(180deg) scale(0.6) translate(6px, 2px);
    }
  }

  .item-main-info {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
  }

  .item-additional-info {
    height: max-content;
    margin-top: 4rem;
    padding: 0 2rem;
    border-top: 1px solid #ddd;

    h4 {
      margin-bottom: 0;
    }
  }
}

.itemCard-dark {
  @extend .itemCard;

  .breadcrumbs {
    color: #ddd;
  }
}
