.itemCard {
  padding: 1rem;
  height: max-content;
  min-height: 100vh;

  h1 {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .right-btn-wrapper {
      display: flex;
      justify-content: space-around;

      button:first-child {
        margin-right: 1rem;
      }
    }
  }

  @media (max-width: 460px) {
    .right-btn-wrapper {
      margin-left: 1rem;
    }
  }

  @media (max-width: 420px) {
    .btn-container {
      margin-top: 90px;
      flex-direction: column;
    }
    .right-btn-wrapper {
      margin: 15px 0 0 0;
      flex-direction: column;
    }
    button {
      align-items: center;
      width: 100%;
      min-width: 150px;
      margin: 2px 5px;
    }
  }

  .breadcrumbs {
    font-size: 1rem;
    color: rgb(71, 57, 165);

    svg {
      transform: rotate(180deg) scale(0.6) translate(6px, 2px);
    }
  }

  .item-main-info {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
  }

  .item-additional-info {
    height: max-content;
    margin-top: 4rem;
    padding: 0 2rem;
    border-top: 1px solid #ddd;

    h4 {
      margin-bottom: 0;
    }
  }

  .availability {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;

    .switch-info:not(:last-child) {
      margin-right: 0.8rem;
    }

    .switch {
      margin-left: 0.5rem;
    }

    @media (max-width: 730px) {
      h1 {
        font-size: 2rem;
      }
    }

    @media (max-width: 630px) {
      h1 {
        font-size: 1.7rem;
      }
    }

    @media (max-width: 530px) {
      h1 {
        font-size: 1.2rem;
      }
      .switch-info {
        font-size: 0.9rem;
      }
    }

    @media (max-width: 430px) {
      h1 {
        font-size: 1rem;
      }
      .switch-info {
        font-size: 0.8rem;
      }
    }
  }

  .itemCard-dark {
    @extend .itemCard;

    .breadcrumbs {
      color: #ddd;
    }
  }
}
