.itemCard {
  padding: 2rem;
  height: max-content;
  overflow-x: auto;
  min-height: 100vh;

  h1 {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .right-btn-wrapper {
      display: flex;
      justify-content: flex-end;

      button:first-child {
        margin-right: 1rem;
      }
    }
  }

  .breadcrumbs {
    font-size: 1rem;
    color: rgb(71, 57, 165);

    svg {
      transform: rotate(180deg) scale(0.6) translate(6px, 2px);
    }
  }

  .item-main-info {
    display: flex;
    margin-top: 1rem;
    flex: 1;
  }

  .item-additional-info {
    height: max-content;
    margin-top: 4rem;

    .expand-field {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      span {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}

.itemCard-dark {
  @extend .itemCard;

  .breadcrumbs {
    color: #ddd;
  }
}
