@import 'react-datepicker/dist/react-datepicker.css';

.react-datepicker__header {
  background-color: #006400;
}

.react-datepicker__day--keyboard-selected {
  background-color: #3f51b5;
}

.react-datepicker__current-month {
  color: #ffffff;
}

.react-datepicker__day-name {
  color: #ffffff;
}

.react-datepicker {
  border: none;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.react-datepicker-wrapper {
  margin-right: 15px;
}

.react-datepicker__day--selected {
  background-color: #3f51b5;
}

.react-datepicker__day--selected:hover {
  background-color: #33408d;
}
