.sidebarPaper {
  flex-grow: 1;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.mainNav {
  padding: 4px 10px;
}
.bb {
  font-size: 40px;
}

.itemIcon {
  min-width: 0;
  margin: 0 8px 0 0;
}

.icon {
  color: darkgreen;
}

.itemText {
  font-size: 15px;
}
