.container {
  padding: 1rem;

  .header-btn-wrapper {
    margin: 1rem 0;
    display: flex;

    & button:first-of-type {
      margin-right: 1rem;
    }

    .headerButtons {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}
