.additional-info-block-wrapper {
  padding: 1rem 1rem 2rem;
}

.group-wrapper {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.5rem 0 1rem;
  width: 100%;
}
