html,
body,
#root {
  height: 100%;
  width: 100%;
}

body *:active,
body *:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.wraper {
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

// input type number hide arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

//slides-row
.row-table-id {
  width: 8%;
  text-align: center;
}

.row-table-button {
  width: 15%;
}
