.container {
  padding: 1rem;

  .btnGroup {
    display: flex;
    justify-content: space-between;
  }

  .header-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
}
