.mainForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .price {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .box {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 20px;

    .checkbox {
      margin-bottom: 10px;
      transform: scale(1.5);
    }
  }

  button {
    margin-top: 30px;
  }

  .rail {
    height: 4px;
  }

  .root {
    width: 100%;
  }

  .track {
    height: 4px;
  }

  .thumb {
    height: 15px;
    width: 15px;
  }

  .inputSlider {
    margin-top: 20px;
    margin-bottom: -15px;
    color: rgba(0, 0, 0, 0.54)
  }
}