.custom-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 400px;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);

  p:first-of-type {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;

    span {
      margin: 10px 0;
      font-style: italic;
      font-weight: 400;
    }
  }

  .warning {
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }

  .btn-container {
    justify-self: center;

    button {
      &:first-child {
        margin-right: 3rem;
      }
    }
  }
}
