.cardsContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: white;
		cursor: pointer;
		width: 200px;
		border-radius: 3px;
		padding: 20px;
		margin-bottom: 20px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

		hr {
			margin-top: auto;
			width: 100%;
		}

		.icons {
			display: flex;
			justify-content: space-between;

			> :first-child {
				color: rgb(52, 132, 237);
				transition: 0.3s all;

				:hover {
					color: rgb(0, 85, 196);
				}
			}

			:nth-child(2):hover {
				color: grey;
			}

			:nth-child(3) {
				transition: 0.3s all;
				color: red;

				:hover {
					color: rgb(216, 0, 0);
				}
			}
		}
	}
}
